# Dependency directories
node_modules/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Tool outputs (Excel files)
*.xlsx
results.xlsx

# Test coverage
coverage/

# IDE files
.vscode/
.idea/
eng.traineddata
urls.txt
.audit_temp/**
